<div class="results-block">
    <%= render 'layouts/message' %>
</div>


<% if @stock %>
<div class="card card-header results-block">
  <strong>Ticker:</strong> <%= @stock.ticker %>
  <strong>Company name:</strong> <%= @stock.name %>
  <strong>Price:</strong> <%= @stock.last_price %>    
</div>
<% end %>
